<div class="container">
  <div class="story">
    <div class="row story-item">
      <div class="col-sm-6 col-xs-12 story-text">
        <div class="text-item">
          <h1>发表简历找工作</h1>
          <p>这里是Ruby on Rails全栈工程师的招聘网站，最聚集的职位。发表你的简历，立即寻找你的心仪工作。</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 image-right">
        <img src="/images/103.jpg" class="img-responsive desv thumbnail" alt="">
      </div>
    </div>
    <div class="row story-item">
      <div class="col-sm-6 col-xs-12 image-left">
        <img src="/images/104.png" class="img-responsive desv thumbnail" alt="">
      </div>
      <div class="col-sm-6 col-xs-12 story-text">
        <div class="text-item tet">
          <h1>发表职位找人才</h1>
          <p>这里聚集着全栈营的优质学员，业界喜欢的编程“新手”，我们不仅懂写作，懂沟通，还懂如何跟他人协作。来这里找人才，就对了！</p>
        </div>
      </div>
    </div>
    <div class="row story-item">
      <div class="col-sm-6 col-xs-12 story-text">
        <div class="text-item">
          <h1>Ruby on Rails相关工作</h1>
          <p>旨在服务全栈小伙伴，所以，我们只涉及Rails相关工作。在这里，你能看到的全是符合你的专业。</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 image-right">
        <img src="/images/102.jpg" class="img-responsive desv thumbnail" alt="">
      </div>
    </div>
    <div class="row story-item">
      <div class="col-sm-6 col-xs-12 image-left">
        <img src="/images/105.jpg" class="img-responsive desv thumbnail" alt="">
      </div>
      <div class="col-sm-6 col-xs-12 story-text">
        <div class="text-item tet">
          <h1>未毕业也能发表简历</h1>
          <p>来吧，发表你的简历，我们希望你在学习过程中能被关注，相信优质的学员，总是很稀缺的。</p>
        </div>
      </div>
    </div>
  </div>
</div>
