<div class="container">
  <div class="row">
    <!-- <div class="list-head">
      <div class="row">
        <div class="head-title">
          工作地点：
        </div>
        <% @job. %>
      </div>
    </div> -->

    <div class="list-item"></div>
  </div>
</div>
