<div class="video-part">
  <video autoplay="autoplay" loop="loop" muted="muted">
    <source src="http://lightofweb.com/zanzo-website/video/Typing.mp4" type="video/mp4">
  </video>
  <div class="video-part-container">
    <h1>haha</h1>
    <h3>hihi</h3>
    <p>owelkrj</p>
  </div>
</div>
