// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 以下是顶部的小导航字段
.top-nav {
  // color: #999;
  // text-decoration: underline;
  font-size: 14px;
  position: relative;
  bottom: -58px;
}
.share-wechat {
  position: relative;
  bottom: -33px;
  font-size: 17px;
}
.top-nav a {
  color: #00b38a;
  font-size: 16px;
}
.share-wechat span {
    font-size: 13px;
    color: #555;
}
.share-wechat button {
    border: 0;
    background-color: transparent;
}
.job-bc-1 {
  margin-top: 60px;
}
.job-bc-1-1 {
  background-color: #fff;
  margin-left:  -13px;
}
.job-bc-1-1 span i {
  background-image: url("http://olmrxx9ks.bkt.clouddn.com/blog/2017-04-28-111.png");
  background-size: 16px 18px;
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}
.job-bc-1-1 .cancel-btn {
  font-size: 12px;
  color: #00b38a;
  text-decoration: underline;
  position: relative;
  bottom: -15px;
}
.job-bc-1-1 .cancel-btn-1 {
  margin-right: -10px;
}
.job-bc-1-1 .fa-link {
  font-size: 16px;
  margin: 10px 0 0 5px;
  cursor: pointer;
  color: rgba(8,8,8,0.3);
}
.job-bc-1-1 .label {
  background-color: #2dbe60;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 410;
  position: relative;
  top: -3px;
  left: 5px;
}
.job-bc-1-1 h1 {
  font-size: 2.3rem;
  padding: 20px;
  color: #555;
}
.job-bc-1-1 .col-sm-7 a {
  color: #666;
}
.job-bc-1-1 .col-sm-7 a:hover {
  text-decoration: none;
  color: #2dbe60;
}
.job-bc-1-1 p {
  margin: -5px 17px 10px;
  font-size: 16px;
  color: #333;
}
.job-bc-1 img {
  padding: 0;
  width: 100%;
}
.job-bc-1-img {
  margin-right: 3px;
  padding: 0;
  margin: 0;
}
.job-btn {
  margin-top: 20px;
}
.job-btn .btn {
  margin-left: 9px;
}
.job-btn .job-btn-1 {
  background-color: transparent;
  color: #55b070;
}
.job-btn .job-btn-1:hover {
  background-color: #2dbe60;
  color: #fff;
}
.job-btn .job-btn-2:hover {
  background-color: transparent;
  color: #55b070;
}
.job-bc-1-2 {
  background-color: #fafafa;
  margin-left: -13px;
}
.job-bc-1-2 h1 {
  font-size: 3rem;
  margin-top: 8px;
  color: #666;
}
.job-bc-1-2 p {
  margin-top: 6px;
  margin-left: 15px;
  font-size: 13px;
  color: #888;
  margin-bottom: 5px;
}
.job-bc-1-2 h3 {
  padding: 7px;
  font-size: 1.9rem;
  color: #666;
}
.job-bc-1-2 h3 span {
  color: #fd5f39;
}
.job-bc-1-2 .col-sm-4 .label {
  color:rgba(8,8,8,0.3);
  font-size: 16px;
  font-weight: 300;
  margin-top: 13px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 10px;
  background-color: transparent;
  border-width: 1px;
  border: 1px solid rgba(8,8,8,0.3);
}
.job-label-item {
  position: relative;
  left: -20px;
  padding: 10px 0px;
}
.job-updatetime {
  float: right;
  font-size: 14px;
  color: rgba(8,8,8,0.3) !important;
  display: inline;
  position: relative;
  bottom: -8px !important;
  left: 30px;
}
.job-bc-bottom {
  margin-top: 10px;
}
// 以下是公司产品
.job-bc-2-2 {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding-top: 10px;
  // padding-top: 10px;
  padding-left: 0;
  margin-bottom: -20px;
}
.job-bc-2-2 .col-sm-7 {
  // margin: 0 -15px;
  padding: 0;
}
.job-bc-2-2 .product-item-1 {
  // padding: 0 15px;
  padding: 30px 15px;
}
.job-bc-2-2 .col-sm-7 h3 {
  font-size: 1.9rem;
  display: inline-block;
  margin-top: 4px;
  color: #666;
  margin-bottom: 10px;
}
.job-bc-2-2 .col-sm-7 i {
  font-size: 14px;
  color: #999;
}
.job-bc-2-2 .col-sm-7 i:hover {
  color: #2dbe60;
}
.job-bc-2-2 h3:hover {
  text-decoration: none;
  color: #2dbe60;
}
.job-bc-2-2 a:hover {
  text-decoration: none;
  color: #2dbe60;
}
.job-bc-2-2 .col-sm-7 .product-label-item {
  color: #999;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 13px;
  margin-left: 5px;
  padding: 2px 10px;
}
.job-bc-2-2 .col-sm-7 .product-label {
  margin-bottom: 10px;
}
.job-bc-2-2 .col-sm-7 .product-description {
  font-size: 14px;
  color: #777;
  line-height: 22px;
}
.job-bc-2-2 .product-second-row {
  // background-color: #333;
  border-top: 1px dashed #e5e5e5;
}
// 以下是公司介绍
.job-bc-2 {
  background-color: #fff;
  margin-right: -11px;
  padding: 20px 30px;
}
.job-bc-3 {
  background-color: #fff;
  margin-left: -11px;
}
.item-title {
  position: absolute;
top: -11px;
left: 0;
padding-right: 16px;
background-color: #fff;
color: #000;
font-size: 18px;
}
.job-bc-2-1 {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding: 10px;
}
.job-bc-2-1 .cp_description {
  margin-top: 40px;
}
.job-bc-2-1 #div1 a {
  display: inline-block;
  padding-right: 15px;
  background: url(//www.lgstatic.com/www/static/company-c/modules/intro/img/arrow_875332c.png) right bottom no-repeat;
  color: #00b38a;
  text-decoration: underline;
  cursor: pointer;
  background-position: right bottom;
}
.job-bc-2-1 .cp_description p {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  min-height: 20px;
  margin-bottom: 30px;
  overflow-y: hidden;
  color: #555;
}
// slider_1
.job-bc-2-1 .carousel-inner img {
    height: 400px; /* Set width to 100% */
    margin: auto;
}

.job-bc-2-1 .carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .job-bc-2-1 .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
.job-bc-2-1  .left span, {
  position: relative;
  top: 130px;
  left: -80px;
  color: #e8e8e8;
  font-size: 7rem;
}
.job-bc-2-1 .right span, {
  position: relative;
  top: 130px;
  right: -55px;
  color: #e8e8e8;
  font-size: 7rem;
}
.job-bc-2-1 .carousel-control {
  text-shadow: 0 0 0 #999;
  width: 0;
  height: 0;
}
.job-bc-2-1 .carousel-control span:hover {
  color: #2dbe60;
}
.job-bc-2-1 #myCarousel {
  margin: 20px auto 20px auto;
  width: 70%;
  // overflow: hidden;
}
.job-bc-2-1 .carousel-inner img {
  width: auto;
  max-height: 300px;
}
.job-bc-2-1 .carousel-indicators li {
  color: #2dbe60;
  background-color: #e8e8e8;
}
.job-bc-2-1 .carousel-indicators .active {
  background-color: #2dbe60;
}
.job-bc-2-1 .carousel-indicators {
  bottom: -25px;
}
// 以下是job-bc-3
.job-bc-3 {
  padding: 20px 30px;
}
.job-bc-3-1 {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding: 10px;
}
// 公司基本信息
.job-bc-3-1 .ul .ol {
  list-style: none;
}
.item-content {
  margin-top: 30px;
}
.item-content ul {
  margin-left: 29px;
}
.item-content li {
  line-height: 15px;
  height: 15px;
  margin-top: 30px;
}
.job-bc-3-1 i {
  display: inline-block;
  line-height: 17px;
  width: 17px;
  height: 17px;
  margin-right: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  padding-bottom: 5px;
}
.job-bc-3-1 .type {
  background-repeat: no-repeat;
  // background-position: 0;
  width: 15px;
  height: 15px;
  background-image: url(//www.lgstatic.com/www/static/company-c/modules/basic-info/main_z_85b62b3.png);
  }
.job-bc-3-1 span {
  color: #777;
  height: 15px;
  line-height: 15px;
}
.job-bc-3-1 .stage {
  background-repeat: no-repeat;
  background-image: url(//www.lgstatic.com/www/static/company-c/modules/basic-info/main_z_85b62b3.png);
  background-position: 0px -18px;
}
.job-bc-3-1 .number {
  background-repeat: no-repeat;
  background-image: url(//www.lgstatic.com/www/static/company-c/modules/basic-info/main_z_85b62b3.png);
  background-position: 0px -35px;
}
.job-bc-3-1 .city {
  background-repeat: no-repeat;
  background-image: url(//www.lgstatic.com/www/static/company-c/modules/basic-info/main_z_85b62b3.png);
  background-position: -1px -53px;
}
.job-bc-3-2 {
  margin-top: 30px;
  border-top: 1px solid #e8e8e8;
  padding-bottom: 50px;
}
// 以下是slider_2
// 如果只有一个管理者的CSS
.slider-2-no {
  padding-top: 45px;
  margin-bottom: -35px;
}
.slider-2-no img {
  text-align: center;
  width: 35%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.slider-2-no h2  {
  text-align: center;
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 15px;
}
.slider-2-no h4  {
  color: #777;
  font-size: 13px;
  margin-bottom: 15px;
}
.slider-2-no p {
  padding: 0 30px;
  margin-bottom: 25px;
}
.slider-2-no manager-content {
  min-height: 300px;
}
.slider-2-no i.fa.fa-link {
    font-size: 10px;
}
.slider-2-no a {
  color: #00b38a;
  text-decoration: underline;
}
// 如果有两个以上CSS
.slider-2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  z-index: -99;
}
.job-bc-3-2 #myCarousel1 {
  height: 400px;
  padding-top: 40px;
}
.carousel-control.right {
  width: 0;
}
.carousel-control.left {
  width: 0;
}
.manager-item-content {
  height: 200px;
}
.slider-2 img {
  margin: 0 auto;
  width: 35%;
  margin-bottom: 20px;
}
.slider-2 .manager-item-content h2 {
  font-size: 1.9rem;
  text-align: center;
  color: #777;
  margin-bottom: 15px;
}
.slider-2 .manager-item-content h3 {
  font-size: 1.4rem;
  color: #999;
  margin-bottom: 15px;
  text-align: center;
}
.slider-2 .manager-item-content .description p {
  font-size: 13px;
  color: #666;
  line-height: 20px;
  padding: 0 30px;
}
.slider-2 .item .manager_website .fa-link{
  // display: inline-block;
  display: inline-block;
  font-size: 8px;
  z-index: 999;
  // padding-bottom: 40px;
}
.slider-2 .manager_website i {
  // font-size: 8px;
  display: inline-block;
}
.slider-2 .item a:hover {
  text-decoration: underline;
}
.carousel-indicators {
  // background: #555;
  color: #e8e8e8;
  z-index: 0;
  position: absolute;
  bottom: -20px;
  background-color: #fff;
}
.carousel-indicators li {
  background-color: #e8e8e8;
  color: #444;
}
.carousel-indicators .active {
  background-color: #2dbe60;
}
.slider-2 .item h5  {
  text-decoration: underline;
  color: #00b38a;
}
.slider-2 .button-group span {
  border-radius: 0 0 0 #e8e8e8;
  text-shadow: 0 0 0 #999;
  color: #e8e8e8;
  font-size: 2.4rem;
  position: absolute;
  bottom: -24px;
  background-color: #fff;
}
.slider-2 .button-group span:hover {
  color: #2dbe60;
}
.slider-2 .button-group .left span {
  left: 75px;
  border: 3px solid #e8e8e8;
  padding: 0 10px;
}
.slider-2 .button-group .right span {
  right: 75px;
  border: 3px solid #e8e8e8;
  padding: 0 10px;
}
// 以下是公司位置信息
.job-bc-3-3 {
  margin-top: 30px;
  border-top: 1px solid #e8e8e8;
  padding-bottom: 50px;
  padding: 30px 0;
}
//以下是职位信息
.job-bc-2-3 {
  margin-top: 40px;
  border-top: 1px solid #e8e8e8;
  padding-bottom: 50px;
  padding: 40px 0 0;
}
.job-bc-2-3 h6 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
}
.job-bc-2-3 .job-content {
  line-height: 50px;
}
.job-bc-2-3 .col-sm-12 {
  margin-bottom: 50px;
}
.job-bc-2-3 h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
}
// 以下是contact-top条
// 以下是contact-top
#contacttop1 .contact-top {
  background: rgba(0,0,0,.8);
  // display: none;
  margin-right: -15px;
  margin-left: -15px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 84px;
  z-index: 100;
  transition: .5s ease;
}
#contacttop1 .contact-top .top-user-img img {
  width: 63px;
  heigh:63px;
  margin-top: 11px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  float: right;
}
#contacttop1 .contact-top .user-name {
  margin: 20px 24px 20px;
}
#contacttop1 .contact-top h1 {
  color: #fff;
  font-size: 2.6rem;
}

#contacttop1 .contact-top p {
  color: #fff;
  font-size: 18px;
  margin-top: -13px;
  margin-left: 24px;
  font-weight: 600;
}
.contact-top p {
    color: #fff;
    font-size: 18px;
    margin-top: -13px;
    margin-left: 24px;
}
span.contact-top-wage {
  color: #fd5f39;
  font-weight: 700;
  font-size: 18px;
}
#contacttop1 .contact-top a {
  margin-top: 16px;
  // padding: 13px;
  // font-size: 1.8rem;
}
#contacttop1 .contact-top a:hover {
  background-color: transparent;
}
#contacttop1 .contact-top button{
  margin-top: 16px;
  // padding: 13px;
  font-size: 1.8rem;
}
#contacttop1 .contact-top .contact-top-btn {
  padding: 0;
  margin-top: 2px;
  font-size: 1.8rem;
}
#contacttop1 .contact-top .cancel-link a{
  margin-top: 60px;
}
#contacttop1 {
  display: none;
}
#contacttop1 a.cancel-btn.cancel-btn-2 {
  color: #fff;
  text-decoration: underline;
  position: relative;
  bottom: -19px;
  font-size: 16px;
}
// 以下是contact条
#contacttop1.show {
    display: block; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein-1 0.5s, fadeout-1 0.5s 2.5s;
    animation: fadein-1 0.5s, fadeout-1 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein-1 {
    from {top: 0; opacity: 0;}
    to {top: 104px; opacity: 1;}
}

@keyframes fadein-1 {
    from {top: 0; opacity: 0;}
    to {top: 104px; opacity: 1;}
}

@-webkit-keyframes fadeout-1 {
    from {top: 104px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout-1 {
    from {top: 104px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
// 以下是微信二维码
#overlay table {

}

#overlay td {
  border-left: solid 12px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 12px;
}

#overlay td.black { border-color: #000; }
#overlay td.white { border-color: #fff; }
