// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 以下是简历详情resume_show页面
.page-body {
  background-color: #f3f3f3;
  margin-left: -15px;
  margin-right: -15px;
}
.body {
  background-color: #f3f3f3;
}
